* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-normal {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  height: 100vh;
  /* padding: 50px 0; */
  background-color: #e2d3c8;
  background-image: url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: top left;
  /* padding: 0 0 30px 0; */
}

.container {
  margin-left: 160px;
  padding: 50px 0 0 0;
  background-color: #e2d3c8;

  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 45px;
  font-weight: 800;
}

.logo-primary {
  color: #fd6e0a;
}

.nav-parent {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  padding-right: 40px;
}

.nav-items a:link,
.nav-items a:visited {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

.btn {
  background-color: #fd6e0a;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 9px;
  color: #fff;
  font-weight: 600;
}

.btn-light {
  background-color: #e2d3c8;
  color: #fff;
  box-shadow: 0px 0px 25px #fff8f3;

  padding: 10px 20px;
}

/* Banner style here */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  padding: 0 220px 0 0;
}

.banner-greetings {
  font-size: 45px;
  color: #474747;
  margin-bottom: 10px;
}

.banner-title {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
}

.banner-description {
  color: #757575;
  font-size: 20px;
  line-height: 1.3;
  margin: 30px 0;
}

.banner-img {
  width: 584px;
  height: 676px;
}

/* Helper class */

.margin-right {
  margin-right: 20px;
}

.center-text {
  text-align: center;
}

/* About section */

.section-main {
  margin-bottom: 50px;
}

.about {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #e2d3c8;
  margin-top: 50px;
  padding: 80px;

  border-radius: 11px;
}

.about-title {
  font-size: 32px;
  margin-bottom: 30px;
}

.about-description {
  font-size: 22px;
  line-height: 1.3;
}

.about-items {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-top: 50px;
}

.item-title {
  color: #474747;
}

.item-description {
  font-weight: bold;
  margin-top: 5px;
}

/* Skills section */

.skills-container {
  display: flex;

  align-items: center;
  justify-content: center;

  margin-top: 60px;
}

.skills {
  background-color: white;
  padding: 20px 30px 60px 30px;
  margin-right: 20px;
  border-radius: 11px;
  /* box-shadow: 1px 1px 1px rgb(255, 249, 249); */

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills:hover,
.skills:active {
  transform: translateY(-8px);
}

.skill-title {
  margin: 10px 0 20px 0;
}

.skill-description {
  font-size: 14px;
}

.skill-icon {
  width: 24px;
  height: 24px;
}

.resume {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px;
}

.resume-m-title {
  margin-bottom: 60px;
  font-size: 42px;
}

.resume-title {
  margin-bottom: 20px;
  font-size: 32px;
}

.resume-sub-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.institute {
  font-size: 14px;
  margin-bottom: 10px;
}

.resume-description {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.resume-container {
  display: flex;
  gap: 36px;
}

.footer {
  max-width: 100%;
  background-color: #e2d3c8;

  display: flex;
  align-items: center;
  gap: 24px;
  padding: 60px 100px;
}

.footer-content {
  /* background-color: green; */

  width: 50%;
  padding: 20px 40px;
}

.footer-content-heading {
  font-size: 32px;
  color: #474747;

  margin-bottom: 20px;
}

.footer-content-description {
  font-size: 18px;
  color: #757575;

  margin-bottom: 18px;
}

.social-icon {
  display: flex;
  gap: 16px;
}

.social-icon a {
  color: #fd6e0a;
  font-size: 24px;
}

.footer-form {
  /* background-color: red; */
  width: 50%;

  padding: 30px 90px;
}

.footer-form-heading {
  margin-bottom: 20px;
}

.footer-form input[type="text"],
.footer-form input[type="email"] {
  display: block;

  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  padding: 10px;
  border-radius: 11px;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.textarea {
  border: none;
  border-radius: 11px;
  width: 100%;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.footer-btn {
  margin: 10px 0;
  display: block;
}
